<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center" style="width:100%">
           
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <%= link_to 'Blog' , 
    root_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      
    <li class= "nav-item active">
         <%= link_to 'Home' , 
    root_path, class:"nav-link" %>

  </li>

  
    <li class= "nav-item">
    <%= link_to 'About Me' , 
    home_about_path, class:"nav-link" %>
    </li>

    <li class= "nav-item">
    <%= link_to 'Posts' , 
    posts_path, class:"nav-link" %>
    </li>
        
  
        </ul>
       
       
     
      
      </form>
  </div>
</nav>
